
<html>
  <head>
    <title>Kółko i krzyżyk</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
  <body>
    <center>
      <a href="/">
            <img src="roomLogo.png" alt="Logo" height=140px width=370px > 
        </a>  <br> 
      <div class="container" style="width:700px">
            <% if (ses.guest==0) { %>  <!-- jak z innym tagiem niż p, to wychodzi mu tekst za ramkę czasem -->
                <div class="namediv" style="max-width:320px"><p style="width:90%; overflow:auto; text-overflow:ellpsis">Zalogowano jako <text class="user" ><%= ses.name %></text></p> </div>
            <% } else { %>
                <div class="namediv" style="max-width:320px"><p style="width:90%; overflow:auto; text-overflow:ellpsis">Wszedłeś jako gość <text class="guest"><%= ses.name %></text></p> </div>
            <% } %>
      </div>
      <br>
      <br>
    <div class = "containerRoom" class = "containerRoom" style="width:700px">
        <div class = "container" style="float:left; width:43%; ">
            
                <table>
                  <% for(i = 0; i < 9; i++) {%>
                    <% if( i % 3 == 0 && i > 0) {%>
                      </tr> <%}%>
                    <% if( i % 3 == 0) {%>
                      <tr> <% } %>
                  <td><input type="image" src=<%=srcs[state[i]] %> id=<%=i%> ></td> <%}%>
                </table>

                <div >
                  Teraz tura gracza:  <!-- DODAĆ NA POCZĄTKU CZYJA I LOSOWAĆ -->
                  <p id="p1" style="text-decoration:underline; width:90%; overflow:auto; text-overflow:ellpsis"></p></li> <!-- najlepiej by ich też podświetlać -->
                  <p id="p2" style="width:90%; overflow:auto; text-overflow:ellpsis"></p></li>
                  <button id="surr" class="button">Poddaj się</button>
                </div>
            
        </div>
        <div id="chatBox" class = "namediv"  style="float: right; width:43%; ">
        
            <ul id="chat" style="text-align:left; margin:0; padding:10px; overflow: auto; height:350px; list-style-type: none;" >
            <% for(i = 0; i < 10; i++) {%>
              <%- chat[(i+chatLast)%10] %>
            <%}%>  
          </ul>
          
          <form id="chatForm" style="bottom: 0; " method="">
                <input id="chatMsg" autocomplete="off" /><button>Wyślij</button>
          </form>
        
        </div> 
    </div>
    

    

    <script>
      var socket = io();
      
      socket.emit('gotInGame');

      $('input').click(function(){
        if( $(this).attr("src") == "tictac/empty.png"){
          socket.emit('FieldClicked', $(this).attr("id")  );
        }
      });
      
      $('form').submit(function(){
        socket.emit('chat message', $('#chatMsg').val());
        $('#chatMsg').val('');
        return false;
      });

      $('#surr').click(function(){
        socket.emit('surrender',null )
      })

      socket.on('change', function(msg){
        if(msg[1]==0){
          $("#"+msg[0]).attr("src","tictac/tic.png");
          $("#p1").attr('style','text-decoration:none; width:90%; overflow:auto; text-overflow:ellpsis')
          $("#p2").attr('style','text-decoration:underline; width:90%; overflow:auto; text-overflow:ellpsis')
        }
        else{
          $("#"+msg[0]).attr("src","tictac/tac.png");
          $("#p2").attr('style','text-decoration:none; width:90%; overflow:auto; text-overflow:ellpsis')
          $("#p1").attr('style','text-decoration:underline; width:90%; overflow:auto; text-overflow:ellpsis')
        }
      });
    
      socket.on('clear', function(msg){
        $("#"+msg).attr("src","tictac/empty.png");
      });

      socket.on('chat message', function(msg){
        $('#chat').append(msg);
        $('#chat').scrollTop($('#chat').prop("scrollHeight"));
      });

      socket.on('user_connected', function(msg){
        $("#"+msg.id).text(msg.name);
      })

      socket.on('won', function(msg){
        //tu usunąć z sesji inGame jakoś
        //console.log("KONIEC MA BYĆ");
        //$("#"+"p1").text(JSON.stringify(socket.handshake.session.legit.inGame)); //jak dałem document.getElById, to nie aktualizował bo nie ajax
        //delete socket.handshake.session.legit.inGame; //a może to zadziała? w końcu wkaźnik to wskaźnik
        // to delete nie ma szans zadziałać, bo ten wskaźnik się odnosi do czegoś na serwerze,tu nie ma i to w ogóle psuje, bo tu nie mamy dostępu do sesji
        //$("#"+"p2").text(JSON.stringify(socket.handshake.session.legit.inGame));

        //tu sobie emituje żeby wyjść - jak zmieni użytkownik coś w skrypcie, to gra mu przestanie działać póki nie zamknie przeglądarki i tyle, a innym nie
        //socket.emit('getOutGame');
           //jest inaczej 
        /*socket.on('gotOutGame', function(){ 
          alert(msg + " wygrał!");
          //było window location od razu do pokoju
        });*/

        // alert jest przeglądarkowy i nic się z nim nie zrobi jeśli chodzi o wygląd, trzeba by inaczej
        alert(msg + " wygrał!");
        window.location = "/rooms/room/game/leave";
      });

      socket.on('draw', function(msg){
        alert("remis");
        window.location = "/rooms/room/game/leave";
      });

    </script>
    <center>
  </body>
</html>
